<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969774210522-77jg1i3do9e5go118tf4asddulvr6ps2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969774210522-77jg1i3do9e5go118tf4asddulvr6ps2</string>
	<key>API_KEY</key>
	<string>AIzaSyBHPUhDY724vMZbOIz-QnTlgElLOTtcVE4</string>
	<key>GCM_SENDER_ID</key>
	<string>969774210522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fantasiaai</string>
	<key>PROJECT_ID</key>
	<string>fantasia-3b824</string>
	<key>STORAGE_BUCKET</key>
	<string>fantasia-3b824.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969774210522:ios:c023b134d8b8d086bbb4e3</string>
</dict>
</plist>